/* Загальні стилі для тіла */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Шрифт для всього тіла */
  background: linear-gradient(to right, #011741, #003b8f); /* Легкий градієнт фону */
  color: #dbdbdb; /* Текст буде темно-сірим */
  line-height: 1.6; /* Покращення читабельності */
}

/* Контейнер для основного контенту */
.main-container {
  max-width: 1200px; /* Ширина контейнера */
  margin: 0 auto; /* Центруємо контейнер */
  padding: 40px 20px; /* Відступи з усіх боків */
}

/* Заголовки */
h1, h2, h3 {
  color: #2c3e50; /* Темно-сині заголовки */
  margin-bottom: 20px; /* Відступ знизу */
}

/* Основний параграф */
p {
  color: #555; /* Світло-сірий текст для абзаців */
  font-size: 1rem; /* Звичайний розмір шрифту */
  margin-bottom: 20px; /* Відступ між абзацами */
}

/* Стилі для посилань */
a {
  text-decoration: none; /* Без підкреслення */
  color: #2980b9; /* Синій колір для посилань */
  transition: color 0.3s ease; /* Плавний перехід кольору */
}

a:hover {
  color: #1c5e7c; /* Темніший синій при наведенні */
}

/* Встановлення стандартних відступів для всіх елементів */
* {
  box-sizing: border-box; /* Враховуємо відступи і межі у ширині елементів */
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
  
  .product-card {
    border: 1px solid #000547;
    padding: 1rem;
    background: #4d5a94;
    border-radius: 6px;
    text-align: center;
  }

  .product-title {
    color: #bebebe;
  }

  .product-description {
    color: #bebebe;
  }

  .product-price {
    color: #bebebe;
  }

  .add-to-cart {
    color: #4d5a94;
  }


  .navbar {
  width: 100%;
  background-color: #333;
  padding: 10px 0;
}

.nav-inner {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 4px;
}

.search-box {
  width: 40%;
  text-align: right;
}

.search-box input {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 80%;
}

/* Стилі для футера */
footer {
  margin-top: 24px; /* Відступ зверху */
  margin-bottom: auto; /* Відступ знизу */
  margin-right: auto; /* Відступ з правого боку */
  margin-left: auto;
  font-size: 14px; /* Розмір шрифту для футера */
  color: #333; /* Колір тексту футера */
  background-color: #f4f4f4; /* Фон для футера */
  padding: 10px 20px; /* Відступи всередині футера */
  border-radius: 5px; /* Заокруглення кутів */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкий тіньовий ефект */
  text-align: right; /* Вирівнювання тексту футера по правому краю */
}
footer p {
  margin-right: 48px;
}